<body>
	<div class="container">
		<div class="row">
			<h2>User info</h2>

			<% if @user.errors.any? %>
				<div class="alert">
					<h2 class="error-count"><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>
					<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<%= form_for(@user) do |f| %>
				<div class="field">
					<%= f.label :name, "Name" %>
					<div class="field-error">
						<%= f.text_field :name %>
					</div>
				</div>

				<div class="field">
					<%= f.label :profile_image, "Image" %>
					<div clas="field-error">
						<%= f.attachment_field :profile_image, placeholder: "プロファイル画像", class:"user-edit-form" %>
					</div>
				</div>

				<div class="field">
					<%= f.label :introduction, "Introduction" %>
					<div class="field-error">
						<%= f.text_area :introduction %>
					</div>
				</div>

				<div class="field">
					<%= f.submit "Update User" %>
				</div>
			<% end %>
			<%= simple_form_for(@user) do |f| %>
			  <%= f.text_field :postcode, label: false %>

		      <h4>Prefecture</h4>
		      <%= f.input :prefecture_name, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県', label: false %>

		      <h4>city</h4>
		      <%= f.text_field :address_city %>

		      <h4>street</h4>
		      <%= f.text_field :address_street %>

		      <h4>builbding name</h4>
		      <%= f.text_field :address_building, class:"building-form" %>

		      <div class="actions">
		        <%= f.submit "Update", class:"btn" %>
		    <% end %>
		</div>
	</div>
</body>

<!-- 完成 -->
