<body>
	<div class="container">
		<div class="row">
			<h2>User info</h2>
			<%= form_for(@user) do |f| %>
				<div class="field">
					<%= f.label :name, "Name" %>
					<div class="field-error">
						<%= f.text_field :name %>
					</div>
				</div>

				<div class="field">
					<%= f.label :profile_image, "Image" %>
					<div clas="field-error">
						<%= f.attachment_field :profile_image, placeholder: "プロファイル画像", class:"user-edit-form" %>
					</div>
				</div>

				<div class="field">
					<%= f.label :introduction, "Introduction" %>
					<div class="field-error">
						<%= f.text_area :introduction %>
					</div>
				</div>

				<div class="field">
					<%= f.submit "Update User" %>
				</div>
			<% end %>
		</div>
	</div>
</body>