<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>following list</h2>
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th><!-- 空白 --></th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<% @user.following_user.each do |user| %>
						<tbody>
							<tr>
								<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-square pull-left profile-img", fallback: "no_image.jpg", size: "40x40" %></td>
								<td><%= user.name %></td>
								<td><% user ||= current_user %>
									<div class="stats">
										<%= link_to user_follow_list_path(user) do %>
										    <strong id="following" class="stat">
										    	<%= user.follower.count %>
										    </strong>
										    following
									<% end %>
								</td>
								<td><div class="stats">
										<%= link_to user_follower_list_path(user) do %>
										    <strong id="followers" class="stat">
										      <%= user.followed.count %>
										    </strong>
										    followers
										<% end %>
									</div>
								</td>
								<td>
									<% if @user.id == current_user.id %>
										<% unless current_user == user %>
							  				<% if current_user.following?(user) %>
												<%= form_for(current_user.follower.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
													<%= f.submit "Unfollow", class: "btn btn-large btn-danger follow-btn" %>
												<% end %>
										<% else %>
												<%= form_for(current_user.follower.build(followed_id: user.id)) do |f| %>
														<div><%= f.hidden_field :followed_id %></div>
													<%= f.submit "Follow", class: "btn btn-large btn-primary follow-btn" %>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</td>
								<td><%= link_to "Show", user_path(user) %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
			<!-- ここまで右側のテーブル -->
		</div>
	</div>