<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Editing Book</h1>
				<%= form_for(@book) do |f| %>
					<div class="field row">
						<%= f.label :title, "Title" %>
						<div class="field-error">
							<%= f.text_field :title, class:"col-xs-12" %>
						</div>
					</div>
					<div class="field row">
						<%= f.label :body, "Opinion" %>
						<div class="field-error">
							<%= f.text_area :body, class:"col-xs-12" %>
						</div>
					</div>
					<div class="field row">
						<%= f.submit "Update Book", class:"btn btn-primary col-xs-12" %>
					</div>
				<% end %>
				<%= link_to "Show", book_path %> | <%= link_to "Back", book_path %>
				<!-- BackのURLを変更する -->
			</div>
		</div>
	</div>
</body>

