<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
			<!-- ユーザーインフォ -->
				<div class="user-info">
					<h2>User info</h2>
					<div class="profile-picture">

					</div>
					<table>
						<tbody>
							<tr></tr>
							<tr>
								<th>name</th>
								<th></th>
							</tr>
						<!-- 編集が必要 -->
							<tr>
								<th>introduction</th>
								<th></th>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-xs-12">
							<%= link_to edit_user_registration_path %>
						</div>
					</div>
				</div>
			<!-- ここまでユーザーインフォ -->
			<!-- New Bookのエリア -->
				<div class="new-book">
					<h2>New book</h2>
					<!-- New Bookのフォーム -->
					<%= form_for(@book) do |f| %>
						<div class="field-area">
							<%= f.label :title, "Title" %>
							<div class="field-error">
								<%= f.text_field :title %>
							</div>
						</div>

						<div class="field-area">
							<%= f.label :body, "Opinion" %>
							<div class="field-error">
								<%= f.text_area :body %>
							</div>
							<div class="col-xs-12">
								<%= f.submit 'Create Book' %>
							</div>
						</div>
					<% end %>
					<!-- ここまでNew Bookのフォーム -->
				</div>
			<!-- ここまでNew Bookのエリア -->
			</div>

			<!-- 右側のテーブル -->
			<div class="col-xs-3">
				<h2>Books</h2>
				<table>
					<thead>
						<tr>
							<th><!-- 空白 --></th>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<% @books.each do |book| %>
						<tbody>
							<tr>
								<td><!-- ユーザーアイコン --></td>
								<td><%= link_to book.title, book_path(book) %></td>
								<td><%= book.opinion %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
			<!-- ここまで右側のテーブル -->
		</div>
	</div>
</body>