
<div class="left-container">
<!-- ユーザーインフォ -->
	<div class="user_info">
		<h1>User info</h1>
		<div class="profile-picture">
			<%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-square pull-left profile-thumb" %>
		</div>
		<ul>
			<!-- 編集が必要 -->
			<li>name<%= @post_image.user.name %></li>
			<h4>introduction</h4>
		</ul>
		<div class="user_info_setting"></div>
	</div>
<!-- ここまでユーザーインフォ -->
<!-- New Bookのエリア -->
	<div class="new-book">
		<h1>New book</h1>
		<!-- New Bookのフォーム -->
		<%= form_for(@book) do |f| %>
			<div class="field-area">
				<%= f.label :title, "Title" %>
				<div class="field-error">
					<%= f.text_field :title %>
				</div>
			</div>

			<div class="field-area">
				<%= f.label :body, "Opinion" %>
				<div class="field-error">
					<%= f.text_area :body %>
				</div>
				<%= f.submit 'Create Book' %>
			</div>
		<% end %>
		<!-- ここまでNew Bookのフォーム -->
	</div>
<!-- ここまでNew Bookのエリア -->
</div>

<!-- 右側のテーブル -->
<div class="right-container">
	<h1>Books</h1>
	<table>
		<thead>
			<tr>
				<th><!-- 空白 --></th>
				<th>Title</th>
				<th>Opinion</th>
			</tr>
		</thead>
		<% books.each do |book| %>
			<tbody>
				<tr>
					<td><!-- ユーザーアイコン --></td>
					<td><%= link_to book.title, book_path(book) %></td>
					<td><%= book.opinion %></td>
				</tr>
			</tbody>
	</table>
</div>
<!-- ここまで右側のテーブル -->

<div class="copyright">
	<h4>CopyRight Infratop.inc></h4>
</div>