<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container relative">
          <div class="row">
            <div class="navbar-header">
              <p>Bookers</p>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="slidemenu">
              <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to " Home", user_path(current_user), class:"glyphicon glyphicon-home" %>
                  </li>
                  <li>
                    <%= link_to ' User', users_path, class:"glyphicon glyphicon-user" %>
                  </li>
                  <li>
                    <%= link_to ' Books', books_path, class:"glyphicon glyphicon-book" %>
                  </li>
                  <li>
                    <%= link_to ' logout', destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to " Home", root_path, class:"glyphicon glyphicon-home"%>
                    <!-- 編集が必要 -->
                  </li>
                  <li>
                    <%= link_to ' About', about_path, class:"glyphicon glyphicon-link" %>
                    <!-- 編集が必要 -->
                  </li>
                  <li>
                    <%= link_to ' sign up', new_user_registration_path, class:"glyphicon glyphicon-edit" %>
                  </li>
                  <li>
                    <%= link_to ' login', new_user_session_path, class:"glyphicon glyphicon-log-in" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <%= yield %>

    <footer >
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p class="footer-p">CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
